@{ 
    var emptyList = new List<string> { string.Empty, string.Empty };
    var checkIcon = "fa fa-check";
    var selectedList = new List<string> { checkIcon, "selected" };
    var allList = emptyList;
    var dianeList = emptyList;
    var anyWayList = emptyList;
    var clementList = emptyList;


    anyWayList = Filter.UserFilter == @UsersConst.AnyWay ?selectedList: emptyList;
    allList = Filter.UserFilter == @UsersConst.All ? selectedList : emptyList;
    dianeList = Filter.UserFilter == @UsersConst.Diane ? selectedList : emptyList;
    clementList = Filter.UserFilter == @UsersConst.Clem ? selectedList : emptyList;
    var isType = Filter.TypeFilters.Where(f=>f.IsChecked).Any()?selectedList: emptyList;

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectLife</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <link href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="row">
            <div class="col-lg-offset-1 col-sm-12 col-md-offset-1 col-md-11">
                <div class="col-md-2">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">ProjectLife</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 ">
                    <div class="navbar-collapse collapse">
                        <div class="col-md-9">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Type de Projet  <i class='@isType.First()'></i><b class="caret"></b></a>

                                    @Html.RenderAction("DisplayTypes", "Project")

                                </li>
                                <li class="@anyWayList.Last()" >
                                    <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-filter="@UsersConst.AnyWay">
                                        @UsersConst.AnyWay  <i class='@anyWayList.First()'></i>
                                    </a>
                                </li>
                                <li class="@allList.Last() dropdown">                                    
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">@UsersConst.All<i class='@allList.First()'></i><b class="caret"></b></a>
                                    @Html.RenderAction("UserTask", "Project")
                                  
                           
                                </li>
                                <li class="@dianeList.Last()">
                                    <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-filter="@UsersConst.Diane">
                                        @UsersConst.Diane <i class='@dianeList.First()'></i>
                                    </a>
                                </li>
                                <li class="@clementList.Last()">
                                    <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-filter="@UsersConst.Clem">
                                        @UsersConst.Clem <i class='@clementList.First()'></i>
                                    </a>
                                </li>
                                <li id="new-li">
                                    <button id="new-btn" style="float:right" onclick="setModal()" class="btn-default"><span>Nouveau Projet  <i class="fa fa-plus-square"></i></span></button>
                                </li>
                            </ul>
                            </div>
                        <div class="col-md-3">
                            <form action="/Home/Search/" class="navbar-form" role="search">
                                <div class="input-group">
                                    <input id="search"  type="text" class="form-control"  name="search">
                                    <div class="input-group-btn">
                                        <button id="search-btn" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="modal">
            @Html.Partial("_EditOrCreate.cshtml", new ProjectViewModel())
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - ProjectLife</p>
        </footer>
    </div>
    <script src="~/js/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
